{
  "swagger": "2.0",
  "info": {
    "title": "ItemConfiguration Api v1",
    "version": "v1"
  },
  "host": "itemconfiguration.roblox.com",
  "schemes": ["https"],
  "paths": {
    "/v1/creations/get-assets": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the user created asset information filtered by the given asset type",
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "query",
            "name": "assetType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isArchived",
            "description": "",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "groupId",
            "description": "",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results per request.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "enum": [10, 25, 50, 100]
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The paging cursor for the previous or next page.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.ItemConfiguration.Api.AssetCreationsResponse]"
            }
          },
          "400": {
            "description": "5: Invalid assetType\r\n10: Invalid Asset Category"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "7: User does not have necessary permissions for group\r\n8: Asset type does not have necessary permissions for group"
          },
          "429": {
            "description": "9: Flood Limit Exceeded"
          },
          "503": {
            "description": "6: Service Unavailable"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["Item:GetAssetCreationsByAssetType"]
        }
      }
    },
    "/v1/collectibles/commission-rates": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the collectibles commission rate",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Roblox.ItemConfiguration.Api.CollectibleCommissionRatesResponse"
              }
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "6: Service Unavailable"
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:GetCollectiableCommissionRates"]
        }
      }
    },
    "/v1/get-commission-rates": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the commission rates related to assetTypes",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Roblox.ItemConfiguration.Api.CommissionRatesResponse"
              }
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "6: Service Unavailable"
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:GetCommissionRates"]
        }
      }
    },
    "/v1/item-tags": {
      "get": {
        "tags": ["ItemTags"],
        "summary": "Gets all related item tags for each item id listed",
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "query",
            "name": "itemIds",
            "description": "",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.ItemConfiguration.Api.ItemWithTags]"
            }
          },
          "400": {
            "description": "1: No item tag Ids requested\r\n2: Too many item tag Ids requested\r\n3: Invalid item id\r\n6: Invalid item namespace"
          },
          "429": {
            "description": "7: Too many requests"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["ItemTags:MultiGetItemsWithTags"]
        }
      },
      "post": {
        "tags": ["ItemTags"],
        "summary": "Creates a new item tag",
        "consumes": ["application/json", "text/json"],
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.CreateItemTagRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemTagDetails"
            }
          },
          "400": {
            "description": "3: Invalid item id\r\n4: Invalid tag id\r\n6: Invalid item namespace\r\n8: The given item is ineligible for item tags\r\n9: The given item has already reached its maximum item tag count"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n5: The current user is missing permissions for the endpoint"
          },
          "429": {
            "description": "7: Too many requests"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["ItemTags:CreateItemTag"]
        }
      }
    },
    "/v1/bundles/{bundleId}": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the bundles details",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "path",
            "name": "bundleId",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.BundleItemResponse"
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:GetBundleDetails"]
        }
      }
    },
    "/v1/bundles/metadata": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the metadata related to bundles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemMetadataResponse"
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:ItemMetadataBundle"]
        }
      }
    },
    "/v1/collectibles/metadata": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the metadata related to collectibles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemMetadataResponse"
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:ItemMetadataCollectible"]
        }
      }
    },
    "/v1/metadata": {
      "get": {
        "tags": ["Item"],
        "summary": "Gets the metadata related to assets and bundles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemMetadataResponse"
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          }
        },
        "properties": {
          "internal": true,
          "metricIds": ["Item:ItemMetadataAsset"]
        }
      }
    },
    "/v1/item-tags/metadata": {
      "get": {
        "tags": ["ItemTags"],
        "summary": "Gets the metadata related to item tags",
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemTagsMetadataResponse"
            }
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["ItemTags:ItemMetadata"]
        }
      }
    },
    "/v1/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "Gets the information for a list of tag Ids",
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "query",
            "name": "tagIds",
            "description": "",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.ItemConfiguration.Api.TagDetails]"
            }
          },
          "400": {
            "description": "1: No tag Ids requested\r\n2: Too many tag Ids requested"
          },
          "429": {
            "description": "3: Too many requests"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["Tags:MultiGetTags"]
        }
      }
    },
    "/v1/tags/prefix-search": {
      "get": {
        "tags": ["Tags"],
        "summary": "Searches for up to numberOfResults tags based on the given prefix",
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "query",
            "name": "prefix",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "numberOfResults",
            "description": "Must be 1, 5, 10, or 25",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.ItemConfiguration.Api.TagDetails]"
            }
          },
          "400": {
            "description": "5: The given prefix is invalid\r\n6: The number of results requested is invalid"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "4: This endpoint is not yet enabled for the current user"
          },
          "429": {
            "description": "3: Too many requests"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["Tags:PrefixTagSearch"]
        }
      }
    },
    "/v1/creations/get-asset-details": {
      "post": {
        "tags": ["Item"],
        "summary": "Gets the asset status and other configuration details for the given assetIds list",
        "consumes": ["application/json", "text/json"],
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AssetCreationsDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AssetCreationsDetailsResponse"
              }
            }
          },
          "400": {
            "description": "1: Missing AssetIds parameters\r\n2: Invalid asset Ids"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "414": {
            "description": "3: Too many asset Ids"
          },
          "429": {
            "description": "9: Flood Limit Exceeded"
          },
          "503": {
            "description": "6: Service Unavailable"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["Item:GetAssetDetails"]
        }
      }
    },
    "/v1/item-tags/{itemTagId}": {
      "delete": {
        "tags": ["ItemTags"],
        "summary": "Deletes an item tag from an item",
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "in": "path",
            "name": "itemTagId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n5: The current user is missing permissions for the endpoint"
          },
          "429": {
            "description": "7: Too many requests"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": ["ItemTags:DeleteItemTag"]
        }
      }
    }
  },
  "definitions": {
    "Roblox.ItemConfiguration.Api.AssetCreationsDetailsRequest": {
      "type": "object",
      "properties": {
        "assetIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          }
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AssetCreationsDetailsResponse": {
      "type": "object",
      "properties": {
        "assetId": {
          "format": "int64",
          "description": "The asset Id",
          "type": "integer"
        },
        "name": {
          "description": "The asset name",
          "type": "string"
        },
        "status": {
          "description": "The asset status ['Unknown' = 0, 'ReviewPending' = 1, 'Moderated' = 2, 'ReviewApproved' = 3, 'OnSale' = 4, 'OffSale' = 5, 'DelayedRelease' = 6, 'Free' = 7]",
          "enum": [
            "Unknown",
            "ReviewPending",
            "Moderated",
            "ReviewApproved",
            "OnSale",
            "OffSale",
            "DelayedRelease",
            "Free"
          ],
          "type": "string"
        },
        "description": {
          "description": "The asset description",
          "type": "string"
        },
        "creatorType": {
          "description": "The creator type ['Unknown' = 0, 'User' = 1, 'Group' = 2]",
          "enum": ["Unknown", "User", "Group"],
          "type": "string"
        },
        "creatorTargetId": {
          "format": "int64",
          "description": "The creator target Id",
          "type": "integer"
        },
        "price": {
          "format": "int64",
          "description": "The Price for onSale asset\r\nNote: This is now considered deprecated in favor of PriceConfiguration",
          "type": "integer"
        },
        "priceConfiguration": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.PriceConfigurationModel"
        },
        "isArchived": {
          "description": "Is the asset archived",
          "type": "boolean"
        },
        "assetType": {
          "description": "Type of the asset",
          "type": "string"
        },
        "releaseConfiguration": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ReleaseConfigurationResponseModel"
        },
        "created": {
          "format": "date-time",
          "description": "Date asset was created",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "description": "Date asset was created",
          "type": "string"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AssetCreationsResponse": {
      "description": "Asset Status response model",
      "type": "object",
      "properties": {
        "assetId": {
          "format": "int64",
          "description": "The asset Id",
          "type": "integer"
        },
        "name": {
          "description": "The asset name",
          "type": "string"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.CreateItemTagRequest": {
      "description": "Request model to add a tag to an item",
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Gets or sets the item Id",
          "type": "string"
        },
        "tagId": {
          "description": "Gets or sets the tag Id",
          "type": "string"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.ItemTagDetails": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the item tag id",
          "type": "string"
        },
        "tag": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.TagDetails"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.ItemTagsMetadataResponse": {
      "description": "Item-tags related metadata response model",
      "type": "object",
      "properties": {
        "isItemTagsFeatureEnabled": {
          "description": "Gets or sets a value indicating whether the item tags feature is enabled",
          "type": "boolean"
        },
        "enabledAssetTypes": {
          "description": "Gets or sets the asset types where item tagging is enabled.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maximumItemTagsPerItem": {
          "format": "int32",
          "description": "Gets or sets the maximum item tags per item limit",
          "type": "integer"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.ItemWithTags": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the item id",
          "type": "string"
        },
        "itemTags": {
          "description": "Gets or sets the item tag details related to this item",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemTagDetails"
          }
        }
      }
    },
    "Roblox.ItemConfiguration.Api.PriceConfigurationModel": {
      "description": "Defines the configuration options for an items price",
      "type": "object",
      "properties": {
        "priceInRobux": {
          "format": "int64",
          "description": "Gets or sets the standard price of the item in Robux",
          "type": "integer"
        },
        "premiumDiscountPercentage": {
          "format": "int32",
          "description": "Gets or sets the discount rate on the price of the item that is given to premium users\r\nShould not be used while applying a PremiumPriceInRobux",
          "type": "integer"
        },
        "premiumPriceInRobux": {
          "format": "int64",
          "description": "Gets or sets the price of the item in Robux that applies only to premium users\r\nShould not be used while applying a PremiumDiscountPercentage",
          "type": "integer"
        },
        "priceOffset": {
          "format": "int64",
          "description": "Gets or sets the price offset of the item in Robux above the price floor.",
          "type": "integer"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.ReleaseConfigurationResponseModel": {
      "description": "Defines the configuration options associated with releasing an item",
      "type": "object",
      "properties": {
        "saleAvailabilityLocations": {
          "description": "Get or sets the sale availability locations list",
          "type": "array",
          "items": {
            "description": " ['Undefined' = 0, 'Catalog' = 1, 'AllUniverses' = 2, 'MyUniverses' = 3]",
            "enum": ["Undefined", "Catalog", "AllUniverses", "MyUniverses"],
            "type": "string"
          }
        }
      }
    },
    "Roblox.ItemConfiguration.Api.TagDetails": {
      "description": "The tag model for any tag-related gets",
      "type": "object",
      "properties": {
        "tagId": {
          "description": "Gets or sets the tag Id",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of the tag",
          "type": "string"
        },
        "localizedDisplayName": {
          "description": "Gets or sets the localized display name of the tag",
          "type": "string"
        },
        "status": {
          "description": "Gets or sets the status for the fetch of this tag ['Success' = 0, 'MissingItem' = 1]",
          "enum": ["Success", "MissingItem"],
          "type": "string"
        }
      }
    },
    "Roblox.Paging.StartIndexCursor": {
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "integer"
        },
        "discriminator": {
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Roblox.Web.WebAPI.ApiEmptyResponseModel": {
      "type": "object"
    },
    "Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.ItemConfiguration.Api.ItemWithTags]": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemWithTags"
          }
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.ItemConfiguration.Api.TagDetails]": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.TagDetails"
          }
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.ItemConfiguration.Api.AssetCreationsResponse]": {
      "type": "object",
      "properties": {
        "previousPageCursor": {
          "type": "string"
        },
        "nextPageCursor": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AssetCreationsResponse"
          }
        }
      }
    },

    "Roblox.ItemConfiguration.Api.ItemMetadataResponse": {
      "description": "Item related metadata response model",
      "type": "object",
      "properties": {
        "allowedAssetTypeForUpload": {
          "description": "Gets Dictionary of all allowed assetTypes that can be uploaded, along with the relevant upload related metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AllowedAssetTypeForUploadMetadata"
          }
        },
        "allowedAssetTypesForRelease": {
          "description": "Gets Dictionary of all allowed assetTypes that can be released, along with the relevant release related metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AllowedAssetTypeForReleaseMetadata"
          }
        },
        "allowedAssetTypesForFree": {
          "description": "Gets Array of all allowed assetTypes that can be free",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowedAssetTypesForSaleAvailabilityLocations": {
          "description": "Gets Array of all allowed assetTypes that have the custom sale availability locations feature enabled",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AllowedAssetTypeForUploadMetadata": {
      "type": "object",
      "properties": {
        "allowedFileExtensions": {
          "description": "List of string specifiying allowed file extentions for upload",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AllowedAssetTypeForReleaseMetadata": {
      "type": "object",
      "properties": {
        "allowedPriceRange": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AllowedPriceRange",
          "description": "Allowed Price Range for release"
        },
        "marketplaceFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for marketplace",
          "type": "integer"
        },
        "premiumPricing": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AllowedPremiumPricingMetadata",
          "description": "The rules for premium pricing"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AllowedPriceRange": {
      "type": "object",
      "properties": {
        "minRobux": {
          "format": "int64",
          "description": "Minimum price in Robux to release the asset",
          "type": "integer"
        },
        "maxRobux": {
          "format": "int64",
          "description": "Maximum price in Robux to release the asset",
          "type": "integer"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.AllowedPremiumPricingMetadata": {
      "description": "Defines the metadata for reading about allowed premium pricing rules",
      "type": "object",
      "properties": {
        "allowedDiscountPercentages": {
          "description": "The allowed discount percentages for a Premium discount",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "allowedPriceRange": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.AllowedPriceRange",
          "description": "The allowed price range for Premium-only pricing"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.CommissionRatesResponse": {
      "type": "object",
      "properties": {
        "itemTypeDetails": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.ItemTypeDetails"
        },
        "commissionRates": {
          "$ref": "#/definitions/Roblox.ItemConfiguration.Api.CommissionRatesModel"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.ItemTypeDetails": {
      "type": "object",
      "properties": {
        "itemType": {
          "enum": ["Undefined", "Asset"],
          "type": "string"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.CommissionRatesModel": {
      "type": "object",
      "properties": {
        "marketplaceFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for marketplace",
          "type": "integer"
        },
        "creatorFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for creators",
          "type": "integer"
        },
        "affiliateFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for Affiliate",
          "type": "integer"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.CollectibleCommissionRatesResponse": {
      "type": "object",
      "properties": {
        "marketplaceFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for marketplace",
          "type": "integer"
        },
        "creatorFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for creators",
          "type": "integer"
        },
        "resellerFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for resellers",
          "type": "integer"
        },
        "affiliateFeesPercentage": {
          "format": "int32",
          "description": "Commission fees percentage for Affiliate",
          "type": "integer"
        }
      }
    },
    "Roblox.ItemConfiguration.Api.BundleItemResponse": {
      "type": "object",
      "properties": {
        "bundleInfo": {
          "type": "object"
        },
        "Description": {
          "type": "string"
        },
        "hasBeenOnSale": {
          "type": "boolean"
        },
        "items": {
          "type": "object"
        }
      }
    }
  }
}
