{
  "swagger": "2.0",
  "info": {
    "title": "Thumbnails Api v1",
    "version": "v1"
  },
  "host": "thumbnails.roblox.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/asset-thumbnail-animated": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Thumbnails asset animated.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "assetId",
            "description": "The asset id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "Roblox-Place-Id",
            "description": "(optional) placeid",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
            }
          },
          "400": {
            "description": "4: The requested Ids are invalid, of an invalid type or missing."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Assets:GetAssetThumbnailAnimated"
          ]
        }
      }
    },
    "/v1/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Thumbnails assets.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "assetIds",
            "description": "The asset ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "header",
            "name": "Roblox-Place-Id",
            "description": "(optional) placeid",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "returnPolicy",
            "description": "Optional policy to use in selecting thumbnail to return (default = PlaceHolder).",
            "type": "string",
            "default": "PlaceHolder",
            "enum": [
              "PlaceHolder",
              "AutoGenerated",
              "ForceAutoGenerated"
            ]
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "30x30",
            "enum": [
              "30x30",
              "42x42",
              "50x50",
              "60x62",
              "75x75",
              "110x110",
              "140x140",
              "150x150",
              "160x100",
              "160x600",
              "250x250",
              "256x144",
              "300x250",
              "304x166",
              "384x216",
              "396x216",
              "420x420",
              "480x270",
              "512x512",
              "576x324",
              "700x700",
              "728x90",
              "768x432",
              "1200x80"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          },
          "403": {
            "description": "9: User not authorized to use AutoGenerated or ForceAutoGenerated return policies."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Assets:GetAssetThumbnails"
          ]
        }
      }
    },
    "/v1/assets-thumbnail-3d": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Thumbnails assets.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "assetId",
            "description": "The asset id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "Roblox-Place-Id",
            "description": "(optional) placeid",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
            }
          },
          "400": {
            "description": "4: The requested Ids are invalid, of an invalid type or missing."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Assets:GetAssetThumbnail3D"
          ]
        }
      }
    },
    "/v1/badges/icons": {
      "get": {
        "tags": [
          "Badges"
        ],
        "summary": "Thumbnails badge icons.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "badgeIds",
            "description": "The badge ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Badges:GetBadgeThumbnails"
          ]
        }
      }
    },
    "/v1/bundles/thumbnails": {
      "get": {
        "tags": [
          "Bundles"
        ],
        "summary": "Get bundle thumbnails for the given CSV of bundle ids",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "bundleIds",
            "description": "CSV for the bundle ids to get bundle thumbnails",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150",
              "420x420"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Bundles:GetBundleThumbnails"
          ]
        }
      }
    },
    "/v1/developer-products/icons": {
      "get": {
        "tags": [
          "DeveloperProducts"
        ],
        "summary": "Thumbnails developer product icons.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "developerProductIds",
            "description": "The developer product ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150",
              "420x420"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "DeveloperProducts:GetBadgeThumbnails"
          ]
        }
      }
    },
    "/v1/game-passes": {
      "get": {
        "tags": [
          "GamePasses"
        ],
        "summary": "Thumbnails game pass icons.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "gamePassIds",
            "description": "The game pass ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "GamePasses:GetGamePassThumbnails"
          ]
        }
      }
    },
    "/v1/games/{universeId}/thumbnails": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Fetches game thumbnail URLs for a list of universes' thumbnail ids. Ids that do not correspond to a valid thumbnail will be filtered out.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "universeId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "thumbnailIds",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "768x432",
            "enum": [
              "768x432",
              "576x324",
              "480x270",
              "384x216",
              "256x144"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          },
          "404": {
            "description": "5: The requested universe does not exist."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Games:GetGameThumbnails"
          ]
        }
      }
    },
    "/v1/games/icons": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Fetches game icon URLs for a list of universes' root places. Ids that do not correspond to a valid universe will be filtered out.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "universeIds",
            "description": "The universe ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "returnPolicy",
            "description": "Optional policy to use in selecting game icon to return (default = PlaceHolder).",
            "type": "string",
            "default": "PlaceHolder",
            "enum": [
              "PlaceHolder",
              "AutoGenerated",
              "ForceAutoGenerated"
            ]
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "50x50",
            "enum": [
              "50x50",
              "128x128",
              "150x150",
              "256x256",
              "420x420",
              "512x512"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          },
          "403": {
            "description": "9: User not authorized to use AutoGenerated or ForceAutoGenerated return policies."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Games:GetGameIcons"
          ]
        }
      }
    },
    "/v1/games/multiget/thumbnails": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Fetch game thumbnail URLs for a list of universe IDs.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "universeIds",
            "description": "comma-delimited list of universe IDs",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "countPerUniverse",
            "description": "max number of thumbnails to return per universe",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "defaults",
            "description": "true if defaults (if any) should be returned if no media exists",
            "type": "boolean",
            "default": true
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "768x432",
            "enum": [
              "768x432",
              "576x324",
              "480x270",
              "384x216",
              "256x144"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse]"
            }
          },
          "400": {
            "description": "0: Unknown error\r\n1: There are too many requested Ids.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n5: The requested universe does not exist.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Games:MultiGetGameThumbnails"
          ]
        }
      }
    },
    "/v1/groups/icons": {
      "get": {
        "tags": [
          "GroupEmblem"
        ],
        "summary": "Fetches thumbnail URLs for a list of groups. Ids that do not correspond to groups will be filtered out.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "groupIds",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150",
              "420x420"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "GroupEmblem:GetGroupEmblemThumbnails"
          ]
        }
      }
    },
    "/v1/places/gameicons": {
      "get": {
        "tags": [
          "Places"
        ],
        "summary": "Fetches game icon URLs for a list of places. Ids that do not correspond to a valid place will be filtered out.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "placeIds",
            "description": "The place ids.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "returnPolicy",
            "description": "Optional policy to use in selecting game icon to return (default = PlaceHolder).",
            "type": "string",
            "default": "PlaceHolder",
            "enum": [
              "PlaceHolder",
              "AutoGenerated",
              "ForceAutoGenerated"
            ]
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "50x50",
            "enum": [
              "50x50",
              "128x128",
              "150x150",
              "256x256",
              "420x420",
              "512x512"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          },
          "403": {
            "description": "9: User not authorized to use AutoGenerated or ForceAutoGenerated return policies."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Places:GetGameIcons"
          ]
        }
      }
    },
    "/v1/users/avatar": {
      "get": {
        "tags": [
          "Avatar"
        ],
        "summary": "Get Avatar Full body shots for the given CSV of userIds",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userIds",
            "description": "CSV for the userIds to get avatar full body shots",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "30x30",
            "enum": [
              "30x30",
              "48x48",
              "60x60",
              "75x75",
              "100x100",
              "110x110",
              "140x140",
              "150x150",
              "150x200",
              "180x180",
              "250x250",
              "352x352",
              "420x420",
              "720x720"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Avatar:GetAvatarThumbnail"
          ]
        }
      }
    },
    "/v1/users/avatar-3d": {
      "get": {
        "tags": [
          "Avatar"
        ],
        "summary": "Get Avatar 3d object for a user",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userId",
            "description": "user Id for avatar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
            }
          },
          "400": {
            "description": "4: The requested Ids are invalid, of an invalid type or missing."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Avatar:GetAvatar3D"
          ]
        }
      }
    },
    "/v1/users/avatar-bust": {
      "get": {
        "tags": [
          "Avatar"
        ],
        "summary": "Get Avatar Busts for the given CSV of userIds",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userIds",
            "description": "CSV for the userIds to get avatar headshots",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "48x48",
            "enum": [
              "48x48",
              "50x50",
              "60x60",
              "75x75",
              "100x100",
              "150x150",
              "180x180",
              "352x352",
              "420x420"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Avatar:GetAvatarBust"
          ]
        }
      }
    },
    "/v1/users/avatar-headshot": {
      "get": {
        "tags": [
          "Avatar"
        ],
        "summary": "Get Avatar Headshots for the given CSV of userIds",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userIds",
            "description": "CSV for the userIds to get avatar headshots",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "48x48",
            "enum": [
              "48x48",
              "50x50",
              "60x60",
              "75x75",
              "100x100",
              "110x110",
              "150x150",
              "180x180",
              "352x352",
              "420x420",
              "720x720"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Jpeg",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Avatar:GetAvatarHeadShot"
          ]
        }
      }
    },
    "/v1/users/outfit-3d": {
      "get": {
        "tags": [
          "Outfits"
        ],
        "summary": "Get 3d object for an outfit",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outfitId",
            "description": "CSV for the userIds to get user outfits",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
            }
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Outfits:GetOutfit3D"
          ]
        }
      }
    },
    "/v1/users/outfits": {
      "get": {
        "tags": [
          "Outfits"
        ],
        "summary": "Get outfits for the given CSV of userOutfitIds",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userOutfitIds",
            "description": "CSV for the userOutfitIds to get user outfits",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "size",
            "description": "The thumbnail size, formatted widthxheight",
            "type": "string",
            "default": "150x150",
            "enum": [
              "150x150",
              "420x420"
            ]
          },
          {
            "in": "query",
            "name": "format",
            "description": "The thumbnail format",
            "type": "string",
            "default": "Png",
            "enum": [
              "Png",
              "Webp"
            ]
          },
          {
            "in": "query",
            "name": "isCircular",
            "description": "The circle thumbnail output parameter, true or false",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n10: Circular thumbnail requests are not allowed"
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Outfits:GetOutfits"
          ]
        }
      }
    },
    "/v1/batch": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Returns a list of thumbnails with varying types and sizes",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Roblox-Place-Id",
            "description": "(optional) placeid",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "requests",
            "description": "List of ThumbnailBatchRequest objects, may contain the following request types:\r\n            1. Avatar\r\n            2. AvatarHeadShot\r\n            3. GameIcon\r\n            4. BadgeIcon\r\n            5. GameThumbnail\r\n            6. GamePass\r\n            7. Asset\r\n            8. BundleThumbnail\r\n            9. Outfit\r\n            10. GroupIcon\r\n            11. DeveloperProduct\r\n            12. AutoGeneratedAsset\r\n            13. AvatarBust\r\n            14. PlaceIcon\r\n            15. AutoGeneratedGameIcon\r\n            16. ForceAutoGeneratedGameIcon\r\n            17. Look",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Roblox.Thumbnails.Apis.Models.ThumbnailBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse]"
            }
          },
          "400": {
            "description": "1: There are too many requested Ids.\r\n2: The requested image format is invalid. Please see documentation for valid thumbnail format parameter name and values.\r\n3: The requested size is invalid. Please see documentation for valid thumbnail size parameter name and format.\r\n4: The requested Ids are invalid, of an invalid type or missing.\r\n7: The specified type is not supported by the batch endpoint"
          },
          "403": {
            "description": "9: User not authorized to use AutoGenerated or ForceAutoGenerated return policies."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Batch:GetBatchThumbnails"
          ]
        }
      }
    }
  },
  "definitions": {
    "Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse": {
      "description": "A response model for thumbnails which belong to a specific universe ID",
      "type": "object",
      "properties": {
        "universeId": {
          "format": "int64",
          "description": "Integer universe ID",
          "type": "integer"
        },
        "error": {
          "$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiErrorModel"
        },
        "thumbnails": {
          "description": "An array of ThumbnailResponse objects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
          }
        }
      }
    },
    "Roblox.Thumbnails.Apis.Models.ThumbnailBatchRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The request id. (Generated client side, used to represent the items in the request)",
          "type": "string"
        },
        "targetId": {
          "format": "int64",
          "description": "The thumbnail target id",
          "type": "integer"
        },
        "token": {
          "description": "Alternative ase token used to identify a thumbnail",
          "type": "string"
        },
        "alias": {
          "description": "Alternative string used to identify a thumbnail\r\ninstead of targetId",
          "type": "string"
        },
        "type": {
          "description": "The type of the thumbnails ['Avatar' = 1, 'AvatarHeadShot' = 2, 'GameIcon' = 3, 'BadgeIcon' = 4, 'GameThumbnail' = 5, 'GamePass' = 6, 'Asset' = 7, 'BundleThumbnail' = 8, 'Outfit' = 9, 'GroupIcon' = 10, 'DeveloperProduct' = 11, 'AvatarBust' = 12, 'AutoGeneratedAsset' = 13, 'PlaceIcon' = 14, 'AutoGeneratedGameIcon' = 15, 'ForceAutoGeneratedGameIcon' = 16, 'Look' = 17]",
          "enum": [
            "Avatar",
            "AvatarHeadShot",
            "GameIcon",
            "BadgeIcon",
            "GameThumbnail",
            "GamePass",
            "Asset",
            "BundleThumbnail",
            "Outfit",
            "GroupIcon",
            "DeveloperProduct",
            "AvatarBust",
            "AutoGeneratedAsset",
            "PlaceIcon",
            "AutoGeneratedGameIcon",
            "ForceAutoGeneratedGameIcon",
            "Look"
          ],
          "type": "string"
        },
        "size": {
          "description": "The thumbnail size",
          "type": "string"
        },
        "format": {
          "description": "The thumbnail format",
          "type": "string"
        },
        "isCircular": {
          "description": "Is the thumbnail circular shape",
          "type": "boolean"
        }
      }
    },
    "Roblox.Thumbs.FormatType": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "readOnly": true
        },
        "Value": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "Roblox.Thumbs.ImageParameters": {
      "type": "object",
      "properties": {
        "Width": {
          "format": "int32",
          "type": "integer"
        },
        "Height": {
          "format": "int32",
          "type": "integer"
        },
        "Format": {
          "$ref": "#/definitions/Roblox.Thumbs.FormatType"
        },
        "IsCircular": {
          "type": "boolean"
        },
        "FileExtension": {
          "type": "string",
          "readOnly": true
        },
        "MimeType": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "errorMessage": {
          "type": "string"
        },
        "targetId": {
          "format": "int64",
          "type": "integer"
        },
        "state": {
          "description": " ['Error' = 0, 'Completed' = 1, 'InReview' = 2, 'Pending' = 3, 'Blocked' = 4, 'TemporarilyUnavailable' = 5]",
          "enum": [
            "Error",
            "Completed",
            "InReview",
            "Pending",
            "Blocked",
            "TemporarilyUnavailable"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Roblox.Web.Responses.Thumbnails.ThumbnailResponse": {
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int64",
          "type": "integer"
        },
        "state": {
          "description": " ['Error' = 0, 'Completed' = 1, 'InReview' = 2, 'Pending' = 3, 'Blocked' = 4, 'TemporarilyUnavailable' = 5]",
          "enum": [
            "Error",
            "Completed",
            "InReview",
            "Pending",
            "Blocked",
            "TemporarilyUnavailable"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse]": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse"
          }
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse]": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse"
          }
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.Web.Responses.Thumbnails.ThumbnailResponse"
          }
        }
      }
    },
    "Roblox.Web.WebAPI.Models.ApiErrorModel": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "userFacingMessage": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "fieldData": { }
      }
    }
  }
}