{
  "openapi": "3.0.3",
  "info": {
    "title": "Toolbox Service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://apis.roblox.com/toolbox-service"
    }
  ],
  "paths": {
    "/v1/audio": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for audios",
        "operationId": "ToolboxService_SearchAudios",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "minDuration",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxDuration",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "album",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decals": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for decals",
        "operationId": "ToolboxService_SearchDecals",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/meshes": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for meshes",
        "operationId": "ToolboxService_SearchMeshes",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plugins": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for plugins",
        "operationId": "ToolboxService_SearchPlugins",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for videos",
        "operationId": "ToolboxService_SearchVideos",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/creations/groups/{ownerId}/{assetType}": {
      "post": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Get group creations",
        "operationId": "ToolboxService_GetGroupCreations",
        "parameters": [
          {
            "name": "ownerId",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "name": "assetType",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/ToolBoxServiceAssetTypes"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/creations/user/{userId}/{assetType}": {
      "post": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Get user creations",
        "operationId": "ToolboxService_GetUserCreations",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "name": "assetType",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/ToolBoxServiceAssetTypes"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "separateModelsAndPackages",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication cookie is missing."
          }
        }
      }
    },
    "/v1/items/details": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Get details of assets",
        "operationId": "ToolboxService_SearchGetAssets",
        "parameters": [
          {
            "name": "assetIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolBoxServiceDetailsItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication cookie is missing."
          }
        }
      }
    },
    "/v1/marketplace/{assetType}": {
      "post": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Search for assets",
        "operationId": "ToolboxService_SearchGetAssets",
        "parameters": [
          {
            "name": "assetType",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/ToolBoxServiceAssetTypes"
            },
            "required": true
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetSubTypes",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeAssetSubTypes",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTargetId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "minDuration",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxDuration",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "album",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uiSortIntent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchSource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "querySource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalUserQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalCorrection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qualityFilter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Roblox-Place-Id",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolBoxServiceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication cookie is missing."
          }
        }
      }
    },
    "/v1/home/{assetType}/section/{section}/assets": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Get home page assets for section",
        "operationId": "ToolboxService_GetHomePageAssetsForSection",
        "parameters": [
          {
            "name": "assetType",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/ToolBoxServiceAssetTypes"
            },
            "required": true
          },
          {
            "name": "section",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "includeOnlyVerifiedCreators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "developerSegment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetsInCameraVicinity",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assetsInCameraViewport",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minPriceInCents",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxPriceInCents",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "qualityFilter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sections": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/home/{assetType}/configuration": {
      "get": {
        "tags": [
          "ToolBoxService"
        ],
        "summary": "Get home page configuration for asset type",
        "operationId": "ToolboxService_GetHomePageConfiguration",
        "parameters": [
          {
            "name": "assetType",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/ToolBoxServiceAssetTypes"
            },
            "required": true
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "developerSegment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sections": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ToolBoxServiceError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ToolBoxServiceAssetTypes": {
        "type": "integer",
        "description": "[ 'Audio' = 3, 'Plugin' = 38, 'MeshPart' = 40, 'Video' = 62, 'FontFamily' = 73  ] ",
        "enum": [
          3,
          38,
          40,
          62,
          73
        ],
        "x-enum-varnames": [
          "Audio",
          "Plugin",
          "MeshPart",
          "Video",
          "FontFamily"
        ]
      },
      "ToolBoxServiceError": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object"
          },
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "ToolBoxServiceSocialLinks": {
        "type": "object",
        "properties": {
          "linkType": {
            "type": "string",
            "enum": [
              "Invalid",
              "Discord",
              "Youtube",
              "Twitter",
              "Twitch",
              "Facebook",
              "Github",
              "Roblox",
              "Guilded"
            ]
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ToolBoxServiceDetailsItem": {
        "type": "object",
        "properties": {
          "asset": {
            "type": "object",
            "properties": {
              "asset": {
                "type": "object",
                "properties": {
                  "audioDetails": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "audioType": {
                        "type": "string",
                        "enum": [
                          "Unknown",
                          "Music",
                          "SoundEffect"
                        ]
                      },
                      "artist": {
                        "type": "string",
                        "default": ""
                      },
                      "title": {
                        "type": "string",
                        "default": ""
                      },
                      "musicAlbum": {
                        "type": "string",
                        "default": ""
                      },
                      "musicGenre": {
                        "nullable": true,
                        "type": "string"
                      },
                      "soundEffectCategory": {
                        "type": "string"
                      },
                      "soundEffectSubCatergory": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "typeId": {
                    "type": "number"
                  },
                  "assetSubTypes": {
                    "type": "array"
                  },
                  "assetGenres": {
                    "type": "array"
                  },
                  "ageGuidelines": {
                    "type": "array",
                    "nullable": true,
                    "properties": {
                      "blood": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "realism": {
                            "type": "string"
                          },
                          "level": {
                            "type": "string"
                          }
                        }
                      },
                      "violence": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "intensity": {
                            "type": "string"
                          }
                        }
                      },
                      "profanity": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "presence": {
                            "type": "string"
                          }
                        }
                      },
                      "alcohol": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "presence": {
                            "type": "string"
                          }
                        }
                      },
                      "romance": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "isEndorsed": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "number"
                  },
                  "hasScripts": {
                    "type": "boolean"
                  },
                  "createdUtc": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedUtc": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "creatingUniverseId": {
                    "nullable": true,
                    "type": "number"
                  },
                  "isAssetHashApproved": {
                    "type": "boolean"
                  },
                  "visibilityStatus": {
                    "type": "number"
                  },
                  "socialLinks": {
                    "type": "object",
                    "$ref": "#/components/schemas/ToolBoxServiceSocialLinks"
                  }
                }
              },
              "creator": {
                "type": "object",
                "items": {
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "number"
                    },
                    "isVerifiedCreator": {
                      "description": "Whether the creator is id/phone verified",
                      "type": "boolean"
                    },
                    "latestGroupUpdaterUserId": {
                      "type": "number",
                      "nullable": true
                    },
                    "latestGroupUpdaterUserName": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "voting": {
                "type": "object",
                "properties": {
                  "showVotes": {
                    "type": "boolean"
                  },
                  "upVotes": {
                    "type": "number"
                  },
                  "downVotes": {
                    "type": "number"
                  },
                  "canVote": {
                    "type": "boolean"
                  },
                  "voteCount": {
                    "type": "number",
                    "description": "Currently only shows goes up to 1000"
                  },
                  "upVotePercent": {
                    "type": "number"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "number"
                  },
                  "price": {
                    "type": "number"
                  },
                  "isForSaleOrIsPublicDomain": {
                    "type": "boolean"
                  }
                }
              },
              "fiatProduct": {
                "type": "object",
                "properties": {
                  "purchasePrice": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "quantity": {
                        "nullable": true,
                        "properties": {
                          "significand": {
                            "type": "number"
                          },
                          "exponent": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "purchasable": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "ToolBoxServiceSearchResult": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer"
          },
          "filteredKeyword": {
            "type": "string"
          },
          "searchDebugInfo": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "spellCheckerResult": {
            "type": "object",
            "properties": {
              "correctionState": {
                "type": "integer"
              },
              "correctedQuery": {
                "type": "string",
                "nullable": true,
                "default": null
              },
              "userQuery": {
                "type": "string",
                "nullable": true,
                "default": null
              }
            }
          },
          "queryFacets": {
            "type": "object",
            "properties": {
              "appliedFacets": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "availableFacets": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "imageSearchStatus": {
            "type": "string",
            "nullable": true,
            "default": null
          },
          "nextPageCursor": {
            "type": "string",
            "nullable": true,
            "default": null
          },
          "previousPageCursor": {
            "type": "string",
            "nullable": true,
            "default": null
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolBoxServiceSearchResultItem"
            }
          }
        }
      },
      "ToolBoxServiceSearchResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "default": null
          },
          "searchResultSource": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "roblox-auth-cookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": ".ROBLOSECURITY"
      }
    }
  },
  "security": [
    {
      "roblox-auth-cookie": []
    }
  ]
}